@import './attributes/variables';
@import './attributes/fonts';
@import './attributes/reset';
@import './attributes/utilities';

// header styles
.header {
    grid-area: header;
    padding: 1.2rem 1rem;

    &__wrapper {
        justify-content: space-between;
    }

    h1 {
        font-family: $ff-nunitomedium;
        font-size: $fs-l;
        font-weight: 500;
        color: $clr-darkgrey;

        span {
            font-family: $ff-nunitobold;
            color: $clr-darkgrey;
        }
    }

    ul {
        
        a {
            @extend %link;
            margin-left: 2.43rem;
            font-family: $ff-nunitomedium;
            font-size: $fs-s;
            color: $clr-darkgrey;
            text-transform: capitalize;

            &:nth-child(2) {
                margin-left: 1.18rem;
            }
        }
    }
}

// main styles
.main {
    grid-area: main;

    &__wrapper {
        padding: 2rem 3rem;
    }

    h2 {
        font-family: $ff-nunitobold;
        font-size: $fs-xl;

        span {
            font-family: $ff-nunitomedium;
            font-weight: 500;
        }
    }

    &__goal,
    &__instructions {
        margin: 50px 0 150px;
        font-family: $ff-firaregular;
        
        h3 {
            font-size: $fs-l;
        }
        
        p {
            margin-top: 1.5rem;
        }

        hr {
            opacity: 0;
            margin: 1rem 0;
        }
    }

    &__creators {
        
        h3 {
            font-size: $fs-l;
        }

        ul {
            margin-top: 1.5rem;
        }

        li {
            list-style: none;
            font-style: italic;
            font-family: $ff-helvetica;
            font-size: $fs-s;
        }
    }

    .auth-para {
        margin: 5rem auto;
        max-width: 426px;
        font-family: $ff-firaregular;
        text-align: center;
    }

    &__form {
        max-width: 380px;
        margin: 5.6rem auto;
        gap: 1.25rem;

        &-field {
            position: relative;
            width: 100%;
            align-items: flex-start;

            &:nth-child(3) {
                justify-content: space-between;
            }

            .flex-row {
                gap: .5rem;

                label {
                    font-size: $fs-xs;
                }
            }

            a {
                font-size: $fs-xs;
                text-decoration: underline;
            }

            .hide-password {
                position: absolute;
                top: 50%;
                right: 1.25rem;
                transform: translateY(-50%);
                border: none;
                cursor: pointer;
            }
        }

        label {   
            font-family: $ff-firaregular;
            font-size: $fs-s;
        }

        input {
            padding: 1rem;
            width: 100%;
            border: none;
            outline: none;
        }

        input[type=checkbox] {
            width: initial;
        }

        input[type=submit] {
            background-color: $clr-darkblue;
            margin-top: 2rem;
            border-radius: 6px;
            color: $clr-white;
            font-size: $fs-s;
            cursor: pointer;
            transition: .3s;

            &:hover {
                scale: .9;
            }
        }
    }
}

// aside styles
.aside {
    grid-area: aside;

    &__wrapper {
        padding: 1rem;
    }

    &__title {
        justify-content: flex-start;
        gap: .5rem;
    }

    h3 {
        font-family: $ff-nunitobold;
        text-transform: capitalize;
        font-size: $fs-m;
        color: $clr-darkgrey;
        text-decoration: underline;

        span {
            font-family: $ff-nunitomedium;
        }
    }

    li {
        margin: 1rem 0 0 1rem;
        font-family: $ff-firaregular;
        font-size: $fs-s;
        color: $clr-darkgrey;
    }
}