@import './attributes/variables';
@import './attributes/fonts';
@import './attributes/reset';
@import './attributes/utilities';


main {
    background-color: red;
    grid-area: main;
}

// header styles
.header {
    grid-area: header;
    padding: 1.2rem 1rem;

    &__wrapper {
        justify-content: space-between;
    }

    h1 {
        font-family: $ff-nunitomedium;
        font-size: $fs-l;
        font-weight: 500;
        color: $clr-darkgrey;

        span {
            font-family: $ff-nunitobold;
            color: $clr-darkgrey;
        }
    }

    ul {
        
        a {
            @extend %link;
            margin-left: 2.43rem;
            font-family: $ff-nunitomedium;
            font-size: $fs-s;
            color: $clr-darkgrey;
            text-transform: capitalize;

            &:nth-child(2) {
                margin-left: 1.18rem;
            }
        }
    }
}

// aside styles
.aside {
    grid-area: aside;

    &__wrapper {
        padding: 1rem;
    }

    &__title {
        justify-content: flex-start;
        gap: .5rem;
    }

    h3 {
        font-family: $ff-nunitobold;
        text-transform: capitalize;
        font-size: $fs-m;
        color: $clr-darkgrey;
        text-decoration: underline;

        span {
            font-family: $ff-nunitomedium;
        }
    }

    li {
        margin: 1rem 0 0 1rem;
        font-family: $ff-firaregular;
        font-size: $fs-s;
        color: $clr-darkgrey;
    }
}