.container {
    width: min(100% - 1rem, 1300px);
    margin: 0 auto;
}

// flex classes
%flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row {
    @extend %flex;
}

.flex-column {
    @extend %flex;
    flex-direction: column;
}

// link classes
%link {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        width: 0;
        border: 0px solid;
        transition: .2s;
    }

    &:hover::after {
        left: 0;
        width: 100%;
        border: 1px solid;
    }
}