@font-face {
    font-family: 'nunito-medium';
    src: url('../../fonts/nunito-medium.woff2') format('woff2'),
        url('../../fonts/nunito-medium.woff') format('woff'),
        url('../../fonts/nunito-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'nunito-bold';
    src: url('../../fonts/nunito-bold.woff2') format('woff2'),
        url('../../fonts/nunito-bold.woff') format('woff'),
        url('../../fonts/nunito-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fira-regular';
    src: url('../../fonts/firaSans-regular.woff2') format('woff2'),
        url('../../fonts/firaSans-regular.woff') format('woff'),
        url('../../fonts/firaSans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fira-medium';
    src: url('../../fonts/firaSans-medium.woff2') format('woff2'),
        url('../../fonts/firaSans-medium.woff') format('woff'),
        url('../../fonts/firaSans-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'helvetica';
    src: url('../../fonts/helveticaneue-italic.woff2') format('woff2'),
        url('../../fonts/helveticaneue-italic.woff') format('woff'),
        url('../../fonts/helveticaneue-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}