// colors
$clr-white: #fff;
$clr-lightgrey: #828282;
$clr-darkgrey: #404040;
$clr-black: #000;
$clr-silverblue: #b0d0ff;
$clr-lightblue: #070c8c;
$clr-darkblue: #032557;
$clr-red: #b00101;
$clr-green: #1c6758;

// fonts
$ff-helvetica: 'helvetica', sans-serif;
$ff-nunitomedium: 'nunito-medium', sans-serif;
$ff-nunitobold: 'nunito-bold', sans-serif;
$ff-firaregular: 'fira-regular', sans;
$ff-firabold: 'fira-bold', sans;

// font sizes
$fs-xl: 1.875rem;
$fs-l: 1.125rem;
$fs-m: 1rem;
$fs-s: .875rem;
$fs-xs: .75rem;